/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color:#fff;
    
  
    
}

hr{
    height: 0.2em;
    width: 2.5em;
    background-color: red;
    border: none;
    border-radius: 5px;
    position: absolute;
    
}

body{
    background-color: #001313;
    
}


.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    /* background-color: red; */
}

 /* HEADER  */
header{
    width: 100%;
    height: 625px;
    background-image: url('https://images.unsplash.com/photo-1610911331371-1cd19301b9e8?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDEzfGJvOGpRS1RhRTBZfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


header::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}





header .name{
    position: relative;
    top: 40%;
    
    
    
}

header .name h1{
    font-size: 3.5em;
}

header .name h2{
    font-size: 2.5em;
    
}



header .name span{
    color: red;
}

header .redes{
    top: 42%;
    font-size: 1.8em;
    z-index: 1;
    position: relative;
    
}

header  .redes i{
    margin-left: 0.3em;
}


/* SOBRE MI  */

.content-about-me{
    display: flex;
    justify-content: space-between;
    margin-top: 2.3em;
}


.content-about-me > div {
    width: 50%;
    padding: 10px;
}
.content-about-me .content-img img{
    width: 100%;
    max-width: 300px;
    margin-left: 2em;
}


.content-about-me .sobre-mi{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

.content-about-me .sobre-mi p{
    margin-top: 0.5em;
    flex-wrap: wrap;
    margin-left: 1em;
    
    
}

.content-about-me .sobre-mi span{
    color: red;
}




.content-about-me .sobre-mi .btn{
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-left: 20em;
    margin-top: 2.5em;
    display: block;
    width: 120px;
    height: 25px;
    

}

.content-about-me .sobre-mi a{
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
}

.content-about-me .sobre-mi hr{
    position: relative;
    left: 390px;
}






 /* Cursos  */

.cursos{
    text-align: center;
    margin-top: 0.5em;
}


.cursos hr{
    position: relative;
    left: 550px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 8em;
    margin-top: 2.2em;
    
}

.container > div:first-child h3{
    margin-top: 0.1em;
    
}

.container .card{
    width: 100%;
    max-width: 300px;
    height: 220px;
    background-color: rgb(54, 51, 51);
    border-radius: 25px;
    margin-left: 2em;
    margin-top: 1.5em;
    padding: 0.2em;
    
}
.container .card a{
    text-decoration: none;
}
.container .card h3{
    color: red;
    margin-top: 0.5em;
}

.container > div:last-child{
    position: relative;
    left: 28%;
}

.container .card img{
    width: 100%;
    max-width: 100px;
    margin-top: 0.8em;
}





 /* Teléfonos */
  @media only screen and (max-width: 575px){

    header .name{
        position: relative;
        top: 40%;
        
        
        
    }
    
    header .name h1{
        font-size: 2.5em;
    }
    
    header .name h2{
        font-size: 2em;
        
    }

     .content-about-me{
       /* flex-direction: row; */
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    } 

    .content-about-me .content-img img{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        
    }

    .content-about-me .sobre-mi{
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        
    }
    

     .content-about-me .sobre-mi p{
        /* text-align: justify; */
        margin-top: 2em;
    } 

    .content-about-me .sobre-mi hr{
        position: relative;
        left: 8.7em;
    }

      .content-about-me .sobre-mi .btn{
        position: relative;
        margin-left: 7em;
    
    }


    .cursos{
        margin-top: 2em;
    }
    .cursos hr{
        position: relative;
        left: 4em;
    }


    .container{
        margin: 0 auto;
        
    }

    .container > div:last-child{
        position: relative;
        left: 0;
    }
 }