/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    

    
}

/* HEADER */

.header {
   width: 100%;
   height: auto;
   text-align: center;
   background-color: black;
 
}


.header h1{
    color: white;
    font-size: 3em;
    margin-top: 25px;

}
 .header h2{
    color: white;
    font-size: 2.5em;
    
} 



.header .span{
    color: red;
    font-weight: 900;
}

.redes i{
    color: white;
    font-size: 2em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    
}

.redes i:hover{
    color: red;
}


/* SOBRE MI */

.about-me{
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    margin-top: 5em;
    
}

.about-me > div{
    width: 50%;
}



.about-me_img h2, .cursos h2{
    color: white;
    margin-left: 3em;
    font-size: 2em;
}

.about-me_img hr, .cursos hr{
    height: 0.2em;
    width: 2.5em;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-left: 6em;
}

.about-me_img img{
    width: 100%;
    max-width: 600px;
    border-radius: 25px;
    margin-left: 5em;
    margin-top: 1.5em;
  
}



.about-me_text p{
    color: white;
    font-size: 1.6em;
    margin-top: 5em;
    margin-left: 1.2em;
    
}

.about-me_text a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding-top: 5px;
}

.about-me_text .btn{
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-left: 10em;
    margin-top: 2.5em;
    display: block;
    width: 150px;
    
    
}

.about-me_text .btn:hover{
    cursor: pointer;
}



/* CERTIFICACIONES Y CURSOS */

.cursos{
    margin-top: 125px;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
    
    
}

.container .card {
    position: relative;
    border-radius: 10px;
    margin-top: 15px;
}

.container .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 150px;
    height: 150px;
    transition: 0.7s;
    z-index: 1;
    margin-left: 75px;
}

.container .card .pulse:hover{
    animation: pulse 0.5s infinite;
    animation-timing-function: linear;
}



.container .card .face {
    width: 100%;
    max-width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}



.container .card .face.face2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px   rgba(255, 255, 255, 0.295);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: red;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
    color:red;
} 
.container .card .face.face2 .content span{
    color: #fff;
}


.container a {
    text-decoration: none;
    color: #fff;
}




/* Teléfonos */
@media only screen and (max-width: 575px){
    .header h1{
        font-size: 1.5em;
        
    
    }
    .header h2{
        font-size: 1.3em;
    } 
    .redes i{
        font-size: 1.2em;
        
    }

    .about-me{
        flex-direction: column;
    }


    .about-me > div{
        width: 100%;
        
    }
    
    .about-me_img h2, .cursos h2{
        margin-left: 2em;
        font-size: 1.5em;
    }
    
     .about-me_img hr, .cursos hr{
        margin-left: 3em;
    }
    
    
    .about-me_img img{
        margin: 1em 0;
        padding: 0;
        border-radius: 0;
      
    }
    
    
   
    
    .about-me_text p{
        font-size: 1.6em;
        
    }
    
    
    
    
    .about-me_text .btn{
        margin-left: 5em;
        margin-top: 2.5em;
        
        
    } 


    
}



